
    body{
        background-color: hsl(212, 45%, 89%);
        font-Family: Outfit;
        font-Weight: 400, 700;
        font-family: 'Outfit', sans-serif;
        max-width: 1440px;
    }
    .container{
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        
        
    }
    figure{
        padding: 0.7rem;
        background-color: white;
        width: 15rem;
        height: 27rem;
        border-radius: 1rem;
    }
    figcaption{
        color: hsl(218, 44%, 22%);
    }

    img{
       width: 15rem;
       height: 15rem;
       border-radius: 1rem;
    }
    p{
        font-size: 15px;
        color: hsl(220, 15%, 55%);
    }
    .attribution {
         font-size: 11px; text-align: center;
         
        }

    .attribution a { 
        color: hsl(228, 45%, 44%);
     }
  